In [113]:
import pandas as pd

In [114]:
df = pd.read_csv('data/97890826-breast-cancer_97891465_1637775859600.csv', sep=",")
df.shape

(699, 11)

In [115]:
df.head()

,id,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses,classes
0,1000025,5,1,1,1,2,1,3,1,1,0
1,1002945,5,4,4,5,7,10,3,2,1,0
2,1015425,3,1,1,1,2,2,3,1,1,0
3,1016277,6,8,8,1,3,4,3,7,1,0
4,1017023,4,1,1,3,2,1,3,1,1,0

In [116]:
#rydder opp duplikater, og col "bare nuclei" ser ut til å ha noen spørsmålstegn, så fjerner radene med det
#df.dropna(subset=None, inplace=True)
df.drop_duplicates(subset=None, inplace=True)
df = df[df.bare_nuclei != '?']

In [117]:
df.shape

(675, 11)

In [118]:
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

In [119]:
#classes er hva vi velger som fasit, jeg vet ikke om 0 eller 1 er god eller ondartet så jeg lar det stå som 0 og 1
y = df['classes']
X = df.drop('classes', axis=1)

#id'en er ikke en verdi vi skal bruke i klassifikasjonen
X.drop('id', axis=1, inplace=True)
X.head()

,clump_thickness,unif_cell_size,unif_cell_shape,marg_adhesion,single_epith_cell_size,bare_nuclei,bland_chrom,norm_nucleoli,mitoses
0,5,1,1,1,2,1,3,1,1
1,5,4,4,5,7,10,3,2,1
2,3,1,1,1,2,2,3,1,1
3,6,8,8,1,3,4,3,7,1
4,4,1,1,3,2,1,3,1,1

In [120]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [121]:
classifier = DecisionTreeClassifier(min_impurity_decrease=0.01, max_depth=5)  
classifier.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=5, min_impurity_decrease=0.01)

In [122]:
y_pred = classifier.predict(X_test) 
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.95      0.92      0.94        87
           1       0.86      0.92      0.89        48

    accuracy                           0.92       135
   macro avg       0.91      0.92      0.91       135
weighted avg       0.92      0.92      0.92       135

In [123]:

dotfile = open("./EksamenTre.dot", 'w')
ditfile = tree.export_graphviz(classifier, out_file = dotfile, feature_names = X.columns, class_names=['0','1'])
dotfile.close()